# Ignore system and WordPress files
*.log
*.DS_Store
*.bak
*.swp
node_modules/
vendor/
.idea/
.vscode/
wp-config.php

composer.lock
composer.json

# Ignore SVN metadata inside svn folder
svn/ai-story-maker/.svn/
local/*
